/* Variables */
:root {
  --cols: 1;
}

/* Base css */
@font-face {
  font-family: 'Bellefair';
  src: url('../assets/fonts/Bellefair/Bellefair.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Hammerhead';
  src: url('../assets/fonts/Hammerhead/Hammerhead.woff2') format('woff2');
  font-display: swap;
}

*,
ul,
a,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style-type: none;
  text-decoration: none;
  font: 600 1rem 'Bellefair';
  color: #fff;
}

body {
  background: #000 url('../assets/images/bg_redux_dark_right.png') center/auto
    100% no-repeat;
  /* only test */
  /* background: #000 url('../assets/images/bg.png') center/auto 100% no-repeat; */
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100lvh;
  width: 100lvw;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 75%
  );
}

/* Components */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-block: 2lvh;
  padding-inline: 6lvw;
  width: 100%;
}

.main-container {
  display: flex;
  align-items: end;
  flex-direction: column;
}

/*  */

.tabs {
  margin-left: -1.65rem;
}
.tabs ul {
  display: flex;
  flex-direction: column;
  gap: 0.25lvh;
}
.tabs li {
  height: 3.75rem;
  width: 7.75rem;
  position: relative;
}
.tabs img {
  height: 100%;
}
.tabs button {
  height: 50%;
  width: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.25rem;
  margin-right: 1rem;
  margin-left: 2rem;
  background: none;
  font: 400 0.75rem 'Hammerhead';
  line-height: 0.75rem;
}

.button-events div {
  height: 100%;
  width: 100%;
  position: absolute;
}
.button-events:hover {
  filter: brightness(1.2);

  & div {
    background: url('../assets/images/scrapbook_ui/tab_over.png') center/auto
      100% no-repeat;
  }
}
.button-events:active {
  transform: translateY(0.2rem);
}
.button-events:target {
  div {
    background: url('../assets/images/scrapbook_ui/tab_selected.png')
      center/auto 100% no-repeat;
  }
}

.selected:hover {
  div {
    background: url('../assets/images/scrapbook_ui/tab_selected.png')
      center/auto 100% no-repeat;
  }
}
.selected div {
  background: url('../assets/images/scrapbook_ui/tab_selected.png') center/auto
    100% no-repeat;
}

/*  */

.sorter {
  display: flex;
  align-items: center;
  gap: 1lvw;
  padding-right: 3.5lvw;
  margin-bottom: 2lvh;
  transform: translateY(3.5lvh);
}
.sorter ul {
  display: flex;
  gap: 0.25lvw;
  height: fit-content;
}
.sorter li {
  height: 1.5rem;
  width: 1.5rem;
}
.sorter button {
  height: 100%;
  width: 100%;
}
.sorter button:hover {
  transform: scale(1.1);
}
.sorter img {
  width: 100%;
  height: 100%;
}

input {
  background: url('../assets/images/menu_ui/textbox3_gold_normal.png')
    center/100% 100% no-repeat;
  height: 2.5rem;
  width: 19rem;
  padding-inline: 5%;
  color: #000;
}
input::placeholder {
  text-align: center;
  color: #88847c;
}
input:focus {
  background: url('../assets/images/menu_ui/textbox3_gold_focus.png')
    center/100% 100% no-repeat;
  outline: none;
}
input:hover {
  background: url('../assets/images/menu_ui/textbox3_gold_hover.png')
    center/100% 100% no-repeat;
}

/*  */

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 40rem;
  width: 72.5lvw;
  max-width: 1200px;
}

.divider {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 1.75rem;
  position: relative;
}
.divider > img {
  position: absolute;
  transform: translateY(-12.5%);
}
.divider > div {
  display: flex;
  align-items: end;
  width: 100%;
  height: 100%;
}
.divider .middle {
  width: 100%;
  height: 30%;
  background: url('../assets/images/menu_ui/list_divider_bottom_1.png')
    left/100%;
}
.divider img {
  height: 100%;
}

.bottom {
  height: 1.5rem;
}
.bottom > img {
  transform: translateY(5%);
}
.bottom > div {
  align-items: start;
}

/*  */

.info-container section {
  display: flex;
  justify-content: space-between;
  width: 98%;
  height: 74lvh;
  background: rgba(79, 60, 38, 0.6);
  padding: 1rem;
}

.info-header,
.info-content-container {
	display: flex;
	justify-content: space-between;
  width: 50%;
  height: 100%;
}

.info {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.info-content {
	width: 100%;
}

.info-content ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 2px;
	overflow-y: auto;
}
.info-content ul * {
  font: 400 1rem 'Hammerhead';
}
.info-content li {
  min-width: 0;
  width: 100%;
  padding: 2px;
}
.info-content button {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  min-width: 0;
  width: 100%;
  background: none;
  padding: 0;
  overflow-x: hidden;
}
.info-content div {
  min-width: 0;
  flex: 1;
  text-align: start;
}

.subcat {
  font-size: 0.6rem !important;
  color: #c0a771;
}

.name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* */

.info-content ul[data-view='7-cols'] li {
  background: none;
}
.info-content ul li:hover {
  background: rgba(125, 113, 95, 0.6);
}
.info-content ul[data-view='7-cols'] div {
  display: none;
}
.info-content ul:not(ul[data-view='7-cols']) {
	background-image: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(88, 78, 64, 0.6) 50%
  );
  background-size: 100% 5.75rem;
}
.info-content ul:not(ul[data-view='7-cols']) img {
  height: 2.5rem;
}
.info-content ul[data-view='7-cols'] img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

/* Rules on business */
body {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
}

/* Scrollbar */
* {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

.scrollbar {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 3rem;
	margin-right: 1rem;
	gap: 0.25rem;
}

.arrow {
	height: 2rem;
	width: 100%;
	background: unset;
}

.arrow:first-child{
	background: url('../assets/images/menu_ui/scrollbar_arrow_up.png') center/auto 100% no-repeat;
}

.arrow:last-child {
	background: url('../assets/images/menu_ui/scrollbar_arrow_down.png') center/auto 100% no-repeat;
}
.arrow:hover {
	transform: scale(1.25);
}
.arrow:active {
	transform: translateY(0.2rem);
}

.bar {
	height: 100%;
	width: 0.75rem;
	background: url('../assets/images/menu_ui/scrollbar_bar.png') center/100% 100% no-repeat;
	position: relative;
	overflow: visible;
}

.handle {
	height: 1rem;
	width: 1rem;
	background: url('../assets/images/menu_ui/scrollbar_handle.png') center/100% no-repeat;
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
}

/* Queries */
@media (max-width: 1460px) {
  .sorter {
    margin-bottom: 5lvh;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .sorter ul li:nth-child(3) {
    filter: grayscale(100);
    pointer-events: none;
  }
}

@media (max-width: 768px) {
  .main {
    padding-inline: 0 6lvw;
  }

  .main-container,
  .info-container {
    width: 100%;
    min-width: 100%;
  }

  .tabs ul {
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
  }

  .tabs li {
    background: #88847c;
    width: fit-content;
    height: fit-content;
  }

  .tabs button {
    width: 100%;
    height: 100%;
    margin: 0;
    position: unset;
  }

  .tabs img {
    display: none;
  }

  .tabs div {
    display: none;
  }

  .info-container section {
    flex-direction: column;
  }

  .info-content-container,
  .info-header {
    width: 100%;
    height: 40%;
  }
}

@media (max-width: 460px) {
  .sorter,
  form,
  input {
    width: 100%;
  }
	.sorter ul {
		flex-shrink: 0;
	}
}
